<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IStockWcfService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/StockWcfService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IStockWcfService"
                contract="ZnStockWcfService.IStockWcfService" name="WSDualHttpBinding_IStockWcfService">
                <identity>
                    <userPrincipalName value="PC-20170602BXUD\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>